.CustomersRevs{
    background-color: #495e57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15rem;
    padding-bottom: 30px;
}

.CustomersRevs> h2{
   font-weight: bold;
   color: white;
}

.CustomersRevs > .Reviews{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}