.confirm-form-side {
  background-image: url("../../assets/restaurant.jpg");
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 13%;
  height: 60vh;
}

.confirm-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495e57dc;
  border-radius: 20px;
  border: 7px solid #495e57;
  padding: 30px;
  color: white;

  img {
    width: 4rem;
    height: 4rem;

    @media (max-width: 400px) {
      width: 3rem;
      height: 3rem;
      margin-bottom: 10px;
    }
  }

  h2,
  h4 {
    font-weight: lighter;
    font-family: karla;

    @media (max-width: 400px) {
      font-size: 12px;
    }
  }
}
