header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15rem;
}

nav > .pageLinks{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.pageLinks>li{
    font-size: 15px;
}

.pageLinks > li > a{ 
    color: black;
    text-decoration: none;
    font-weight: 500;

}