.chicago{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 15rem;
    padding-top: 30px;
    padding-bottom: 80px;
    position: relative;
}

.chicago>.details{
    width: 45%;
}

.chicago>.details>h1{
    font-size: 40px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #495e57;
    font-family: "Markazi Text";
}

.chicago>.details>h3{
    padding: 0;
    font-size: 27px;
    font-weight: lighter;
    margin: 0;
    margin-top: -10px;
    font-family: "Markazi Text";
}

.chicago>.details>p{
    font-family: karla;
}

.chicago>.imgs{
    position: relative;
}

.chicago>.imgs>img{
    width: 230px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.chicago>.imgs>.pic1{
    position: absolute;
    z-index: 0;
    top: 40%;
    right: 60%;
    border: 4px solid white;
}

.chicago>.imgs>.pic2{
    border: 4px solid #495e57;
    padding: 2px;
}

