footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15rem;
    border: 1px black solid;
    gap: 50px;
    background-color: #495e57;
    color:white;
}

footer>img{
    width: 200px;
    height: 200px;
}

.footer-info{
    justify-content: flex-start;
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    width: 40%;

}


.column>ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 7px;

    li {
        list-style: none;
        font-weight: 100;
    };
}

.links>li>a{
    text-decoration: none;
    color:white;
    font-weight: 400;
}