footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15rem;
    padding-top: 60px;
    gap: 50px;
    background-color: #495e57;
    color:white;
    position: relative;
    overflow: hidden;
}

footer>.socials>img{
    width: 200px;
    height: 60px;
}


.column{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    padding-top: 0;

     h4{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
}




.column>ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;

    li {
        list-style: none;
        font-weight: 100;
        font-size: 13px
    };
}

.links>li>a{
    text-decoration: none;
    color:white;
    font-weight: 400;
}
